
.footer_blocks_block2_BLOCK, .footer_blocks_block3_BLOCK{
    display: none;
}

.section5{
    position: relative;
    background-color: #1E2833;
    width: 100%;
    height: 350px;
    top: 1350px;
}

.under_footer{
    width: 1px;
    height: 1px;
    background-color: transparent;
    position: relative;
    top: 800px;
}

.footer_blocks{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    top: 75px;
    flex-wrap: wrap;
}

.footer_blocks_block{
    padding-left: 50px;
    margin-top: 50px;
}

/* --------------------footer_block1-------------------- */

.footer_blocks_block1{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: -15px;
}

.footer_block_title{
    font-size: 24px;
    font-weight: 700;
    line-height: 31px;
    text-align: left;
    color: white;
}

.footer_block_subTitle_1{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #D7D7D7;
}

.footer_block1_social_pages{
    display: flex;
    flex-direction: row;
    position: relative;
    left: -20px;
    top: 20px;
}

.footer_social{
    top: 50px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: transparent;
    border-radius: 5px;
    margin-left: 20px;
    transform: scale(1.6);
    transition: .3s;
}

.footer_social:hover{
    transform: scale(2);
}

.footer_social a i{
    color: white;
}

/* --------------------footer_block2-------------------- */

.footer_block_subTitle_small{
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #D7D7D7;
    letter-spacing: 1px;
    line-height: 30px;
}

.footer_blocks_block a{
    text-decoration: none !important;
}

.footer_block_subTitle_small:hover{
    color: white;
    cursor: pointer;
}

.footer_block_subTitle_small_1{
    position: relative;
    top: 10px;
}

/* --------------------footer_block3-------------------- */


/* --------------------footer_block4-------------------- */

.footer_blocks_block4{
    position: relative;
    top: -35px;
}

.footer_block4_social_pages{
    position: relative;
    top: 50px;
}

.footer_input input{
    width: 265px;
    height: 48px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    background-color: transparent;
    padding-left: 10px;
    margin-left: 15px;
}

.footer_social_telegram{
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #FFD2DD;
    cursor: pointer;
    transition: .3s;
}

.footer_social_telegram:hover{
    transform: scale(1.1);
}

.footer_social_telegram i{
    color: black;
    transform: scale(1.3);
}

.footer_blocks_block2_block3{
    display: flex;
    flex-direction: row;
}

@media screen and (max-width:1270px) {
    .footer_blocks{
        margin-left: 20px;
    }

    .section5{
        top: 1250px;
    }
}

@media screen and (max-width:1170px) {
    .footer_blocks{
        margin-left: 0;
        margin-right: 12px;
    }
}

@media screen and (max-width:1047px) {
    .section5{
        height: 550px;
    }

    .footer_blocks_block3{
        position: relative;
        left: -50px;
    }
}

@media screen and (max-width:900px) {
    .section5{
        top: 1050px;
    }

    .footer_blocks_block3{
        left: -20px;
    }
}

@media screen and (max-width:850px) {
    .section5{
        top: 1250px;
    }
}

@media screen and (max-width:750px) {
    .section5{
        top: 1320px;
    }
}

@media screen and (max-width:739px) {
    .footer_blocks_block2{
        position: relative;
        left: -125px;
    }

    .footer_blocks_block3{
        position: relative;
        left: 0;
    }
}

@media screen and (max-width:680px) {
    .section5{
        height: 690px;
    }

    .footer_blocks{
        flex-direction: column;
    }

    .footer_blocks_block2_NONE, .footer_blocks_block3_NONE {
        display: none;
    }

    .footer_blocks_block2_BLOCK, .footer_blocks_block3_BLOCK{
        display: block;
        position: relative;
        left: -20px;
    }

    .footer_blocks_block2_block3{
        flex-direction: row;
        display: flex;
    }

    .footer_blocks_block2_block3 p{
        text-align: center;
    }

    .footer_blocks_block1 p{
        text-align: center;
        position: relative;
        left: -20px;
        top: 15px;
    }

    .footer_block1_social_pages{
            top: 15px;
            left: 5px;
    }
}
